html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

/* header-section */

.indent-header {
  margin-top: 53px;
}

.logo-header-link {
  font-family: Roboto;
  font-size: 80px;
  line-height: 94px;
  color: #2aaffc;
}

.firsts-letters {
  color: #000;
}

.list-header {
  display: flex;
  justify-content: center;
}

.list-header {
  margin-top: 38px;
  background: #35444f;
}

.item-header {
  border-left: 1px solid #fff;
}

.item-header:last-child {
  border-right: 1px solid #fff;
}

.item-header:hover {
  background: #222f3a;
}

.item-header-link {
  display: block;
  padding: 19px 40px 19px;
  font-family: Roboto;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}

/* main-section */
.content-main {
  margin-top: 40px;
  margin-bottom: 54px;
  display: flex;
}

.menu-aside-list {
  display: flex;
  flex-direction: column;
  border: 1px solid #60717c;
}

.menu-aside-item {
  width: 344px;
}

.menu-aside-itemLink {
  display: block;
  padding: 27px 38px;
  font-family: Roboto;
  font-size: 27px;
  line-height: 27px;
  color: #495863;
}

.menu-aside-itemLink:hover {
  padding-left: 50px;
  background: #dbdbdb;
  color: #000;
  transition: 0.3s;
}

.description-section {
  margin-left: 53px;
}

.border-image-section {
  height: 530px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #60717c;
}

.img-section {
  width: 320px;
  height: 380px;
}

.text-section {
  font-family: Roboto;
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
  margin-top: 34px;
}

/* foter-section */
.contant-footer {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  background: rgba(99, 105, 110, 0.48);
}

.list-footer {
  display: flex;
  justify-content: space-around;
}

.items-footer {
  padding: 21px 0;
  margin-left: 30px;
}

.items-footer-link {
  display: block;
  font-family: Roboto;
  font-size: 28px;
  line-height: 28px;
  color: #0c1927;
}

.items-footer-link::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: transparent;
  margin: 5px 0 0;
  transition: color 0.3s linear;
}

.items-footer-link:hover::after {
  background-color: #3181a6;
  transition: 0.3s;
}

.items-footer-link:hover {
  color: #3181a6;
  transition: 0.3s;
}

.position-footer {
  padding: 21px 0;
  margin-right: 30px;
}

.position-footer-text {
  font-family: Roboto;
  font-size: 24px;
  line-height: 24px;
  color: #010101;
}
